<%- include("../components/header") -%>

<body>
    <%- include("../components/navbar/navbar") -%>
    <div class="main">
        <section class="sign-in">

            <!-- SECTION: Conteiner -->
            <div class="container">
                <div class="signin-content">
                    <div class="signin-form" style="margin:0 auto;">
                        <blockquote>
                            <h6>
                                <%=message%>
                            </h6>
                        </blockquote>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<%- include("../components/footer") -%>