<%- include("../components/header") -%>

<body>

    <!-- SECTION: Navbar -->
    <%- include("../components/navbar/navbar") -%>
    <div class="main">
        <section class="sign-in">

            <!-- SECTION: Conteiner -->
            <div class="container">
                <div class="signin-content" style="padding: 0; margin-bottom: 10%;">
                    <div class="signin-form" style="margin:0 auto;">
                        <h5 class="form-title center-align">Forgot your password?</h5>
                        <br>
                        <div class="row">

                            <!-- SECTION: Fields -->
                            <form id="resetForm" action="/password/email" method="POST" class="col s12">
                                <div class="row">
                                    <p>Please enter the email address registered on your account.</p>
                                </div>
                                <br>
                                <div class=" row">
                                    <div class="input-field">
                                        <input required placeholder="Example: user@email.com" id="email" type="email"
                                            class="validate" name="email">
                                        <label for="email">Email</label>
                                    </div>
                                </div>
                                <div class="form-group form-button center">
                                    <button class="btn waves-effect waves-light" type="submit">
                                        Recover password
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
<%- include("../components/footer") -%>